body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fafafa;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #dbdbdb;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #262626;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

button {
    padding: 10px;
    margin-top: 10px;
    background-color: #3897f0;
    color: white;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #3183cc;
}
